.SideDrawer {
    position: absolute;
    width: 280px;
    max-width: 60%;
    height: 100%;
    left: 0%;
    top: 0;
    text-align: left;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    overflow: hidden !important; }



.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
    direction: rtl;
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}
.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}
.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    
}

.NavigationItem a {
    color:black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: left;
    margin-top: 5%;
    padding-bottom: 2%;
    font-size: 20px;
    font-weight: 400px;
    font-family:  serif;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: rgb(15, 125, 228);
    border-bottom: 2px solid #e67e22;

}
.icon{
height: 21px;
    float: left;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 12%;

}
.hr{
    width: 100%;
}
h2{
    float: left;
    margin-left: 10%;
    margin-top: 1%;
}
.arrow{
    height: 18px;
    margin-left: 40%;
    margin-top: 4%;
}